<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore >

    <settings>     
      <!-- Defines a connectionstring key which connectionstring should be used or add ServiceBus Connectionstring directly here-->
      <setting name="Healthcheck.ConnectionStringKeyOrConnectionString" value="Endpoint=sb://mityabus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=rxmfeKw1OvFGvasYvQRUGKoR1Ov0dzGI0APBhXNpPL4=" />
      <setting name="Healthcheck.IncomingQueueName" value="healthcheck-incoming"/>
      <setting name="Healthcheck.TopicName" value="healthcheck-topic"/>
      <setting name="Healthcheck.SubscritionName" value="externalsub"/>
    
    </settings>

    <pipelines>
      <initialize role:require="ContentDelivery">
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" type="Healthcheck.Service.Remote.InitializeSubscriptionClient, Healthcheck.Service.Remote"  />
    
      </initialize>
      <initialize role:require="ContentManagement">        
        <processor patch:after="processor[@type='Sitecore.Pipelines.Loader.EnsureAnonymousUsers, Sitecore.Kernel']" type="Healthcheck.Service.Remote.InitializeQueueClient, Healthcheck.Service.Remote"  />
      </initialize>
    </pipelines>
  </sitecore>
</configuration>