<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.2" />
    </startup>
  <appSettings>
    <add key="IncomingQueueName" value="healthcheck-incoming"/>
    <add key="TopicName" value="healthcheck-topic"/>
    <add key="SubscritionName" value="externalsub"/>
  </appSettings>
  <connectionStrings>
    <add name="messaging" connectionString="Endpoint=sb://mityabus.servicebus.windows.net/;SharedAccessKeyName=RootManageSharedAccessKey;SharedAccessKey=rxmfeKw1OvFGvasYvQRUGKoR1Ov0dzGI0APBhXNpPL4="/>
  </connectionStrings>
</configuration>