<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore>
    <settings>
      <setting name="Healthcheck.Remote.Mode" value="eventqueue" />
      <setting name="Healthcheck.Instancename" value="CD" />
    </settings>
    <pipelines>
      <initialize>
        <processor type="Healthcheck.Service.Remote.EventQueue.HealthcheckEventMap,Healthcheck.Service.Remote.EventQueue" method="Initialize" />
      </initialize>
    </pipelines>
    <events>
      <event name="healthcheck:finished:remote" role:require="ContentManagement">
        <handler type="Healthcheck.Service.Remote.EventQueue.EventHandlers.HealthcheckEventHandler, Healthcheck.Service.Remote.EventQueue" method="HealthcheckFinished" />
      </event>
      <event name="healthcheck:started:remote" role:require="ContentDelivery">
        <handler type="Healthcheck.Service.Remote.EventQueue.EventHandlers.HealthcheckEventHandler, Healthcheck.Service.Remote.EventQueue" method="HealthcheckStarted" />
      </event>
    </events>
  </sitecore>
</configuration>