<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>FileSystem</WebPublishMethod>
    <LastUsedBuildConfiguration>Debug</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <PublishUrl>C:\out\website</PublishUrl>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DeleteExistingFiles>true</DeleteExistingFiles>
<ExcludeFilesFromDeployment>
  **\bin\Sitecore*;
  **\bin\**\System*;
  **\bin\**\Microsoft.Prac*;
  **\bin\**\Microsoft.Azure*;
  **\bin\**\Microsoft.Ex*;
  **\bin\**\Microsoft.Iden*;
  **\bin\**\Microsoft.Win32*;
  **\bin\**\Microsoft.web*;
  **\bin\**\Microsoft.azure.services*;
  **\bin\**\Spe*;
  **\bin\**\Newtonsoft*;
  **\bin\**\netstandard*;
  **\bin\**\lucene*;
  **\bin\**\ICsharp*;
  **\bin\**\HtmlAgility*;
  **\bin\**\Mvp*;
  **\bin\de\*;
  **\bin\es\*;
  **\bin\fr\*;
  **\bin\it\*;
  **\bin\ja\*;
  **\bin\ko\*;
  **\bin\ru\*;
  **\bin\zh-*\*;
  web.config</ExcludeFilesFromDeployment>
  </PropertyGroup>
  <ItemGroup>
    <!-- Remove old files when you rename things. Add as many of these as you like -->
    <AdditionalFilesToRemoveFromTarget Include="HelixBaseAssemblies">
      <TargetPath>bin\HelixBase.*.dll</TargetPath>
    </AdditionalFilesToRemoveFromTarget>
  </ItemGroup>
  <!-- Once publishUrl is configured, you can remove this target -->
  <Target Name="EnsurePublishUrl" BeforeTargets="Build">
    <Error Condition="'$(PublishUrl)' == ''" Text="Hi, welcome to Helix Base.&#xD;&#xA;      &#xD;&#xA;Please configure a publishUrl in $(MSBuildProjectName)/Properties/PublishProfiles/DockerBuild.pubxml. You may need to reload your solution to apply the change.&#xD;&#xA;&#xD;&#xA;Auto-publish can be disabled in $(MSBuildProjectName).wpp.targets." />
  </Target>
  <!-- -->
</Project>
